
	/* Stylesheet for Rob Corell's resume at http://robsresume.com */


	@border-color:		#640000;
	@font:				Calibri, Helvetica, Arial, sans-serif;
	@text-color: 		#280000;
	@background-color:	#FFFDF4;
	@panel-color:		#E6E4DC;



	body {
		background-color:	#FFFFFA;
	}


	#contactInfo {
		float:				left;
		margin:				0px;
		padding-left: 		4em;
	}

	#controls {
		font-size:			12pt;
	}

	#introductions {
		font-size:			12pt;
		font-style:			italic;
		text-align: 		right;		
	}

	#name {
		font-size:			2em;
		font-weight:		bold;
	}

	#resume {
		background-color: 	@background-color;
		border-left:		16px solid @border-color;
		border-right:		16px solid @border-color;		
		color:				@text-color;
		font-family:		@font;
		font-size:			14pt;
		margin-left:  		auto;
		margin-right:  		auto;
		max-width:			760px;
		padding:			2em 2em 9em 2em; 	

		a, a:link, a:active, a:hover, a:visited {
			color:				@text-color;
			cursor:				pointer;
			text-decoration:	underline;
		} 
	
		h1 {
			margin:	0px auto;
		}

		pre {
			font-family:		Consolas, monospace;
		}

		ul {
			    list-style: none;
		}

		ul li:before {
		    content: 		'\2725';
		    padding-right: 	0.5em;
		    y: -3em;
		}
	}

	#role {
		font-style:			italic;
		font-size:			1.5em;				
	}

	#skills {

		.skill {
			font-style:			italic;
			padding:			0em 1em;
		}
		
		.skillDescription {
			padding:			0em 0em 0.5em 1em;
		}

		td {
			vertical-align:		top;
		}
	}

	#title {
		float:				left;
	}


	/* Classes */

	.cvContent {
		display:			none;
	}

	.job {
		@title-font-size:	14pt;

		.companyName {	
			font-size:			@title-font-size;
			font-weight:		bold;
		}		

		.employmentDuration {
			float: 				right;
			font-weight:		100;
			font-size:			@title-font-size - 4pt;
			padding-right:		1em;
		}		
	
		.jobTitle
		{
			font-size:			@title-font-size;
			font-style:			italic;	
			font-weight:		bold;		
		} 
	}

	.panel {
		background-color:	@panel-color;
		border-radius:		10px;
		box-shadow:  		3px 3px 4px black;	
		margin:				1em;
		padding:			1em;
	}

	.project {
		padding: 			0.5em;	

		.projectDescription {
			font-style:			italic;
			padding-left: 		2em;
		}

		.projectDetail {
			padding-bottom:		0.5em;		
		}                                                                                                                                                                                                                                                                         

		.projectName {
			font-style:			italic;
			text-decoration: 	underline;
		}

		.projectTech {
			padding-top:		0.5em;
		}
	}

	.workDetail {
		padding-left:		3em;
	}