
	/* Stylesheet for Rob Corell's resume at http://robsresume.com */


	/* IDs */

	#contactInfo {
		float:				left;
		list-style: 		none;
		margin:				0px;
	}

	#name {
		font-size:			2em;
		font-weight:		bold;
	}

	#resume {
		border-left:		16px solid #640000;
		color:				#280000;
		font-family:		Calibri, Helvetica, Arial, sans-serif;
		max-width:			760px;
		padding:			2em 0em 9em 2em; 	
	}

	#resume	a, a:link, a:active, a:hover, a:visited 
	{
		color:				#280000;
		cursor:				pointer;
		text-decoration:	underline;
	} 

	#resume h1 {
		margin:				0px auto;
	}

	#role {
		font-style:			italic;
		font-size:			1.5em;				
	}

	#skills td {
		vertical-align:		top;
	}

	#title {
		float:				left;
	}


	/* Classes */

	.companyName {
		font-weight:		bold;
	}

	.employmentDuration {
		float: 				right;
		font-weight:		100;
		font-size:			0.8em;
		padding-right:		1em;
	}

	.job {
		padding-bottom:  	1em;
	}

	.jobTitle
	{
		font-weight:		bold;
		font-style:			italic;	
	} 

	.project {
		padding: 			0.5em;
	}

	.projectDescription {
		font-style:			italic;
		padding-left: 		2em;
	}

	.projectName {
		font-style:			italic;
		text-decoration: 	underline;
	}

	.projectTech {
		padding-top:		0.5em;
	}

	.skill
	{
		font-style:			italic;
		padding:			0em 1em;
	}
	
	.skillDescription
	{
		padding:			0em 0em 0.5em 1em;
	}

